<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.sms.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.zju.sms.domain.Admin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="addDate" jdbcType="TIMESTAMP" property="addDate" />
    <result column="loginIP" jdbcType="VARCHAR" property="loginIP" />
    <result column="loginDate" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="p_adminList" jdbcType="BIT" property="p_adminList" />
    <result column="p_keyword" jdbcType="BIT" property="p_keyword" />
    <result column="p_agentRechargeRecord" jdbcType="BIT" property="p_agentRechargeRecord" />
    <result column="p_blackWhiteList" jdbcType="BIT" property="p_blackWhiteList" />
    <result column="p_messageReview" jdbcType="BIT" property="p_messageReview" />
    <result column="p_changePassword" jdbcType="BIT" property="p_changePassword" />
    <result column="p_channel" jdbcType="BIT" property="p_channel" />
    <result column="p_phoneLib" jdbcType="BIT" property="p_phoneLib" />
    <result column="p_userRechargeRecord" jdbcType="BIT" property="p_userRechargeRecord" />
    <result column="p_userExpenseRecord" jdbcType="BIT" property="p_userExpenseRecord" />
    <result column="p_configureDeduction" jdbcType="BIT" property="p_configureDeduction" />
    <result column="p_agentList" jdbcType="BIT" property="p_agentList" />
    <result column="p_sendRecord" jdbcType="BIT" property="p_sendRecord" />
    <result column="p_rechargeSolution" jdbcType="BIT" property="p_rechargeSolution" />
    <result column="p_agentRecharge" jdbcType="BIT" property="p_agentRecharge" />
    <result column="p_userRecharge" jdbcType="BIT" property="p_userRecharge" />
    <result column="p_userList" jdbcType="BIT" property="p_userList" />
    <result column="p_announcement" jdbcType="BIT" property="p_announcement" />
    <result column="p_loginTime" jdbcType="BIT" property="p_loginTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `admin`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.zju.sms.domain.Admin" useGeneratedKeys="true">
    insert into `admin` (username, password, addDate, 
      loginIP, loginDate, comment, 
      p_adminList, p_keyword, p_agentRechargeRecord, 
      p_blackWhiteList, p_messageReview, p_changePassword, 
      p_channel, p_phoneLib, p_userRechargeRecord, 
      p_userExpenseRecord, p_configureDeduction, p_agentList, 
      p_sendRecord, p_rechargeSolution, p_agentRecharge, 
      p_userRecharge, p_userList, p_announcement, 
      p_loginTime)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{addDate,jdbcType=TIMESTAMP}, 
      #{loginIP,jdbcType=VARCHAR}, #{loginDate,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, 
      #{p_adminList,jdbcType=BIT}, #{p_keyword,jdbcType=BIT}, #{p_agentRechargeRecord,jdbcType=BIT}, 
      #{p_blackWhiteList,jdbcType=BIT}, #{p_messageReview,jdbcType=BIT}, #{p_changePassword,jdbcType=BIT}, 
      #{p_channel,jdbcType=BIT}, #{p_phoneLib,jdbcType=BIT}, #{p_userRechargeRecord,jdbcType=BIT}, 
      #{p_userExpenseRecord,jdbcType=BIT}, #{p_configureDeduction,jdbcType=BIT}, #{p_agentList,jdbcType=BIT}, 
      #{p_sendRecord,jdbcType=BIT}, #{p_rechargeSolution,jdbcType=BIT}, #{p_agentRecharge,jdbcType=BIT}, 
      #{p_userRecharge,jdbcType=BIT}, #{p_userList,jdbcType=BIT}, #{p_announcement,jdbcType=BIT}, 
      #{p_loginTime,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zju.sms.domain.Admin">
    update `admin`
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      addDate = #{addDate,jdbcType=TIMESTAMP},
      loginIP = #{loginIP,jdbcType=VARCHAR},
      loginDate = #{loginDate,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      p_adminList = #{p_adminList,jdbcType=BIT},
      p_keyword = #{p_keyword,jdbcType=BIT},
      p_agentRechargeRecord = #{p_agentRechargeRecord,jdbcType=BIT},
      p_blackWhiteList = #{p_blackWhiteList,jdbcType=BIT},
      p_messageReview = #{p_messageReview,jdbcType=BIT},
      p_changePassword = #{p_changePassword,jdbcType=BIT},
      p_channel = #{p_channel,jdbcType=BIT},
      p_phoneLib = #{p_phoneLib,jdbcType=BIT},
      p_userRechargeRecord = #{p_userRechargeRecord,jdbcType=BIT},
      p_userExpenseRecord = #{p_userExpenseRecord,jdbcType=BIT},
      p_configureDeduction = #{p_configureDeduction,jdbcType=BIT},
      p_agentList = #{p_agentList,jdbcType=BIT},
      p_sendRecord = #{p_sendRecord,jdbcType=BIT},
      p_rechargeSolution = #{p_rechargeSolution,jdbcType=BIT},
      p_agentRecharge = #{p_agentRecharge,jdbcType=BIT},
      p_userRecharge = #{p_userRecharge,jdbcType=BIT},
      p_userList = #{p_userList,jdbcType=BIT},
      p_announcement = #{p_announcement,jdbcType=BIT},
      p_loginTime = #{p_loginTime,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, password, addDate, loginIP, loginDate, comment, p_adminList, 
    p_keyword, p_agentRechargeRecord, p_blackWhiteList, p_messageReview, p_changePassword, 
    p_channel, p_phoneLib, p_userRechargeRecord, p_userExpenseRecord, p_configureDeduction, 
    p_agentList, p_sendRecord, p_rechargeSolution, p_agentRecharge, p_userRecharge, p_userList, 
    p_announcement, p_loginTime
    from `admin`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, addDate, loginIP, loginDate, comment, p_adminList, 
    p_keyword, p_agentRechargeRecord, p_blackWhiteList, p_messageReview, p_changePassword, 
    p_channel, p_phoneLib, p_userRechargeRecord, p_userExpenseRecord, p_configureDeduction, 
    p_agentList, p_sendRecord, p_rechargeSolution, p_agentRecharge, p_userRecharge, p_userList, 
    p_announcement, p_loginTime
    from `admin`
  </select>
  <resultMap id="BaseResultMap" type="com.zju.sms.domain.Admin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="addDate" jdbcType="TIMESTAMP" property="addDate" />
    <result column="loginIP" jdbcType="VARCHAR" property="loginIP" />
    <result column="loginDate" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="p_adminList" jdbcType="BIT" property="p_adminList" />
    <result column="p_keyword" jdbcType="BIT" property="p_keyword" />
    <result column="p_agentRechargeRecord" jdbcType="BIT" property="p_agentRechargeRecord" />
    <result column="p_blackWhiteList" jdbcType="BIT" property="p_blackWhiteList" />
    <result column="p_messageReview" jdbcType="BIT" property="p_messageReview" />
    <result column="p_changePassword" jdbcType="BIT" property="p_changePassword" />
    <result column="p_channel" jdbcType="BIT" property="p_channel" />
    <result column="p_phoneLib" jdbcType="BIT" property="p_phoneLib" />
    <result column="p_userRechargeRecord" jdbcType="BIT" property="p_userRechargeRecord" />
    <result column="p_userExpenseRecord" jdbcType="BIT" property="p_userExpenseRecord" />
    <result column="p_configureDeduction" jdbcType="BIT" property="p_configureDeduction" />
    <result column="p_agentList" jdbcType="BIT" property="p_agentList" />
    <result column="p_sendRecord" jdbcType="BIT" property="p_sendRecord" />
    <result column="p_rechargeSolution" jdbcType="BIT" property="p_rechargeSolution" />
    <result column="p_agentRecharge" jdbcType="BIT" property="p_agentRecharge" />
    <result column="p_userRecharge" jdbcType="BIT" property="p_userRecharge" />
    <result column="p_userList" jdbcType="BIT" property="p_userList" />
    <result column="p_announcement" jdbcType="BIT" property="p_announcement" />
    <result column="p_loginTime" jdbcType="BIT" property="p_loginTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `admin`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.sms.domain.Admin">
    insert into `admin` (id, username, password, 
      addDate, loginIP, loginDate, 
      comment, p_adminList, p_keyword, 
      p_agentRechargeRecord, p_blackWhiteList, p_messageReview, 
      p_changePassword, p_channel, p_phoneLib, 
      p_userRechargeRecord, p_userExpenseRecord, p_configureDeduction, 
      p_agentList, p_sendRecord, p_rechargeSolution, 
      p_agentRecharge, p_userRecharge, p_userList, 
      p_announcement, p_loginTime)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{addDate,jdbcType=TIMESTAMP}, #{loginIP,jdbcType=VARCHAR}, #{loginDate,jdbcType=TIMESTAMP}, 
      #{comment,jdbcType=VARCHAR}, #{p_adminList,jdbcType=BIT}, #{p_keyword,jdbcType=BIT}, 
      #{p_agentRechargeRecord,jdbcType=BIT}, #{p_blackWhiteList,jdbcType=BIT}, #{p_messageReview,jdbcType=BIT}, 
      #{p_changePassword,jdbcType=BIT}, #{p_channel,jdbcType=BIT}, #{p_phoneLib,jdbcType=BIT}, 
      #{p_userRechargeRecord,jdbcType=BIT}, #{p_userExpenseRecord,jdbcType=BIT}, #{p_configureDeduction,jdbcType=BIT}, 
      #{p_agentList,jdbcType=BIT}, #{p_sendRecord,jdbcType=BIT}, #{p_rechargeSolution,jdbcType=BIT}, 
      #{p_agentRecharge,jdbcType=BIT}, #{p_userRecharge,jdbcType=BIT}, #{p_userList,jdbcType=BIT}, 
      #{p_announcement,jdbcType=BIT}, #{p_loginTime,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zju.sms.domain.Admin">
    update `admin`
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      addDate = #{addDate,jdbcType=TIMESTAMP},
      loginIP = #{loginIP,jdbcType=VARCHAR},
      loginDate = #{loginDate,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      p_adminList = #{p_adminList,jdbcType=BIT},
      p_keyword = #{p_keyword,jdbcType=BIT},
      p_agentRechargeRecord = #{p_agentRechargeRecord,jdbcType=BIT},
      p_blackWhiteList = #{p_blackWhiteList,jdbcType=BIT},
      p_messageReview = #{p_messageReview,jdbcType=BIT},
      p_changePassword = #{p_changePassword,jdbcType=BIT},
      p_channel = #{p_channel,jdbcType=BIT},
      p_phoneLib = #{p_phoneLib,jdbcType=BIT},
      p_userRechargeRecord = #{p_userRechargeRecord,jdbcType=BIT},
      p_userExpenseRecord = #{p_userExpenseRecord,jdbcType=BIT},
      p_configureDeduction = #{p_configureDeduction,jdbcType=BIT},
      p_agentList = #{p_agentList,jdbcType=BIT},
      p_sendRecord = #{p_sendRecord,jdbcType=BIT},
      p_rechargeSolution = #{p_rechargeSolution,jdbcType=BIT},
      p_agentRecharge = #{p_agentRecharge,jdbcType=BIT},
      p_userRecharge = #{p_userRecharge,jdbcType=BIT},
      p_userList = #{p_userList,jdbcType=BIT},
      p_announcement = #{p_announcement,jdbcType=BIT},
      p_loginTime = #{p_loginTime,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, password, addDate, loginIP, loginDate, comment, p_adminList, 
    p_keyword, p_agentRechargeRecord, p_blackWhiteList, p_messageReview, p_changePassword, 
    p_channel, p_phoneLib, p_userRechargeRecord, p_userExpenseRecord, p_configureDeduction, 
    p_agentList, p_sendRecord, p_rechargeSolution, p_agentRecharge, p_userRecharge, p_userList, 
    p_announcement, p_loginTime
    from `admin`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, addDate, loginIP, loginDate, comment, p_adminList, 
    p_keyword, p_agentRechargeRecord, p_blackWhiteList, p_messageReview, p_changePassword, 
    p_channel, p_phoneLib, p_userRechargeRecord, p_userExpenseRecord, p_configureDeduction, 
    p_agentList, p_sendRecord, p_rechargeSolution, p_agentRecharge, p_userRecharge, p_userList, 
    p_announcement, p_loginTime
    from `admin`
  </select>
</mapper>